---
type Props = {
  id: string;
};
const { id } = Astro.props;

import { Image } from "astro:assets";

import marcasList from "@/utils/marcasList";
---

<section
  id={id}
  class="w-full h-full max-h-[100vh] min-h-0 min-w-0 overflow-hidden"
>
  <div class="relative">

    <div class="swiper categoriaSwiper !px-12">
      <div class="swiper-wrapper">
        {
          marcasList.map((img) => (
            <div class="swiper-slide">
              <article class="">
                <Image class={""} src={img} alt={"banner img"} />
              </article>
            </div>
          ))
        }
      </div>
    </div>

    <div class="swiper-button-prev after:text-grey-1 after:content-['prev']">
    </div>

    <div class="swiper-button-next after:text-grey-1 after:content-['next']">
    </div>
  </div>
</section>

<style>
  .modal-active {
    display: flex;
  }
</style>

<script>
  import Swiper from "swiper/bundle";

  // import styles bundle
  import "swiper/css/bundle";

  document.addEventListener("astro:page-load", (ev) => {
    // import Swiper bundle with all modules installed

    new Swiper(".categoriaSwiper", {
      slidesPerView: 2,
      spaceBetween: 8,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        640: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: 6,
          spaceBetween: 30,
        },
        1280: {
          slidesPerView: 7,
          spaceBetween: 30,
        }
      },
    });
  });
</script>
